<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Оставить заказ</title>
    <link th:href="@{/styles/cssandjs/form.css}" rel="stylesheet">
    <link th:href="@{/styles/cssandjs/menuline.css}" rel="stylesheet">
    <link th:href="@{/styles/cssandjs/table.css}" rel="stylesheet">
</head>
<body>
<ul>
    <li><a href="index">Главная</a></li>
</ul>
<form class="decor" th:action="@{/addApplicationT}" th:object="${applicationT}" method="post">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <h3>Ваша заявка</h3>
        <input type="text" placeholder="Адрес погрузки" th:field="*{loadingAddress}"/>
        <input type="text" placeholder="Адрес доставки" th:field="*{deliveryAddress}"/>
        <input type="text" placeholder="Вес груза" th:field="*{weight}"/>
        <textarea placeholder="Пожелания" rows="3" th:field="*{wishes}"></textarea>
        <input type="submit" value="Создать"/>
    </div>
</form>

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color: red;font-style: italic">
</div>
</body>
</html>