<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список автомобилей</title>
    <link th:href="@{/styles/cssandjs/form.css}" rel="stylesheet">
    <link th:href="@{/styles/cssandjs/menuline.css}" rel="stylesheet">
    <link th:href="@{/styles/cssandjs/table.css}" rel="stylesheet">
</head>
<body>
<ul>
    <li><a th:href="@{/index}">Главная</a></li>
    <li><a th:href="@{/addAuto}">Добавить автотранспорт</a></li>
</ul><br/><br/>
<div>
    <table class="table_price" border="1" th:id="auto-table">
        <caption>Автотранспорт</caption>
        <tr>
            <td>Номер</td>
            <td>Тип</td>
        </tr>
        <tr th:each="auto:${autos}" th:id="auto-list">
            <td><a th:href="@{/autoInfo/{id}(id=${auto.id})}" th:utext="${auto.number}"></a> </td>
            <td th:utext="${auto.brand}">...</td>
        </tr>
    </table>
</div>
</body>
</html>