<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note online</title>
    <link th:href="@{/styles/cssandjs/form.css}" rel="stylesheet">
    <link th:href="@{/styles/cssandjs/menuline.css}" rel="stylesheet">
    <link th:href="@{/styles/cssandjs/table.css}" rel="stylesheet">
</head>
<body>
<ul >
    <li><a th:href="@{/}">Заказать грузовую перевозку</a></li>
    <li><a th:href="@{/}">Заказать пассажирскую перевозку</a></li>
    <li><a th:href="@{/driverList}">Список водителей</a></li>
    <li><a th:href="@{/autoList}">Список транспорта</a></li>
</ul>
<h1 align="center">Автопредприятие для грузовых и пассажирских перевозок</h1>
<br>
</body>
</html>